DOCTYPE
	html
		head
			title Bienvenidisimo
			meta(charset="UTF-8")
		body
			h1 !!! 
			h2 AHORA CON DATOS DE MONGO.. HABER
			h3 Cargado.....gracias...
			a(href="/cuenta") Publicar
			br
			a(href="/all") Ver publicaciones	