DOCTYPE
		html
			H1 PUBLICA LO QUE DESEES
			form(method="POST" action="/ver")
				div(class="form-group")
					label(for="publicacion") Publica
					input(type="text" name="publicacion" placeholder="Escribe algo" id="publicacion")
				div
					input(type="submit" value="Guardar" class="btn btn-info")
			